nodered/.flows.json.backup
[{"id":"eb8c73f2ce396a89","type":"tab","label":"Farming Alerting","disabled":false,"info":""},{"id":"6c7fcc53a0742ddd","type":"telegram bot","botname":"FarmBot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"none","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbothost":"0.0.0.0","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"5550b7f0193cc337","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"9f2a5489fa3661b6","type":"telegram sender","z":"eb8c73f2ce396a89","name":"","bot":"6c7fcc53a0742ddd","haserroroutput":false,"outputs":1,"x":1050,"y":440,"wires":[[]]},{"id":"f8b0bc5086450b01","type":"mqtt in","z":"eb8c73f2ce396a89","name":"","topic":"farming/+/+","qos":"2","datatype":"auto-detect","broker":"5550b7f0193cc337","nl":false,"rap":true,"rh":0,"inputs":0,"x":390,"y":500,"wires":[["2742da83c428b9b1","a5284162b8f2dbc0","be16b519d695d4a1","a7ebb183110954cf","529d038e7784a54c"]]},{"id":"2742da83c428b9b1","type":"debug","z":"eb8c73f2ce396a89","name":"Debug Incoming Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":420,"wires":[]},{"id":"a5284162b8f2dbc0","type":"function","z":"eb8c73f2ce396a89","name":"Temperature","func":"let temperature = msg.payload.temperature;\nlet farm = msg.payload.farm;\n\nif (temperature > 40) {  // Change threshold as needed\n    msg.payload = {\n        \"chatId\" : \"7491161550\",\n        \"text\": `${farm} : 🚨🚨🚨 ALERT! High Temperature: ${temperature}°C`,\n    };\n    return msg;  // Send message only if condition is met\n}\nreturn null;  // No message if temperature is below the threshold\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":520,"wires":[["e9bcee7ee9c178e7"]]},{"id":"e9bcee7ee9c178e7","type":"change","z":"eb8c73f2ce396a89","name":"","rules":[{"t":"set","p":"payload.chatId","pt":"msg","to":"7491161550","tot":"str"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"},{"t":"set","p":"payload.content","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":560,"wires":[["210bf23485b8901e","9f2a5489fa3661b6"]]},{"id":"210bf23485b8901e","type":"debug","z":"eb8c73f2ce396a89","name":"Debug Alert Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":560,"wires":[]},{"id":"be16b519d695d4a1","type":"function","z":"eb8c73f2ce396a89","name":"Soil Moisture","func":"let soil_moisture = msg.payload.soil_moisture;\nlet farm = msg.payload.farm;\n\nif (soil_moisture < 300) {  // Change threshold as needed\n    msg.payload = {\n        \"chatId\" : \"7491161550\",\n        \"text\": `${farm} : 🚨🚨🚨 ALERT! LOW Soil Moisture: ${soil_moisture} kO`,\n    };\n    return msg;  // Send message only if condition is met\n}\nreturn null;  // No message if temperature is below the threshold\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":580,"wires":[["e9bcee7ee9c178e7"]]},{"id":"a7ebb183110954cf","type":"function","z":"eb8c73f2ce396a89","name":"Humidity","func":"let humidity = msg.payload.humidity;\nlet farm = msg.payload.farm;\n\nif (humidity > 80) {  // Change threshold as needed\n    msg.payload = {\n        \"chatId\" : \"7491161550\",\n        \"text\": `${farm} : 🚨🚨🚨 ALERT! High Humidity: ${humidity}% `,\n    };\n    return msg;  // Send message only if condition is met\n}\nreturn null;  // No message if temperature is below the threshold\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":660,"wires":[["e9bcee7ee9c178e7"]]},{"id":"529d038e7784a54c","type":"function","z":"eb8c73f2ce396a89","name":"Light Intensity","func":"let light_intensity = msg.payload.light_intensity;\nlet farm = msg.payload.farm;\n\nif (light_intensity > 1000) {  // Change threshold as needed\n    msg.payload = {\n        \"chatId\" : \"7491161550\",\n        \"text\": `${farm} : 🚨🚨🚨 ALERT! High Light Intensity: ${light_intensity} lux`,\n    };\n    return msg;  // Send message only if condition is met\n}\nreturn null;  // No message if temperature is below the threshold\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":760,"wires":[["e9bcee7ee9c178e7"]]}]