nodered/.flows.json.backup
[{"id":"186926693817a85e","type":"tab","label":"Flux 1","disabled":false,"info":"","env":[]},{"id":"f6f2187d.f17ca8","type":"tab","label":"Farming Alerting","disabled":false,"info":""},{"id":"6c7fcc53a0742ddd","type":"telegram bot","botname":"FarmBot","usernames":"","chatids":"7491161550","baseapiurl":"","testenvironment":false,"updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbothost":"0.0.0.0","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"5550b7f0193cc337","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"99e680b42bd37ef5","type":"telegram sender","z":"f6f2187d.f17ca8","name":"","bot":"6c7fcc53a0742ddd","haserroroutput":false,"outputs":1,"x":1050,"y":440,"wires":[[]]},{"id":"cd7e3d9ff2f6234d","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"farming/+/+","qos":"2","datatype":"auto-detect","broker":"5550b7f0193cc337","nl":false,"rap":true,"rh":0,"inputs":0,"x":390,"y":500,"wires":[["a0d98379e8ac2dc4","44dba562940b36d2","c7e5b11c03449b90","4e34398d55ed72d5","bea9a9f50b6a87f4"]]},{"id":"a0d98379e8ac2dc4","type":"debug","z":"f6f2187d.f17ca8","name":"Debug Incoming Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":420,"wires":[]},{"id":"44dba562940b36d2","type":"function","z":"f6f2187d.f17ca8","name":"Temperature","func":"let temperature = msg.payload.temperature;\nlet farm = msg.payload.farm;\n\nif (temperature > 40) {  // Change threshold as needed\n    msg.payload = {\n        \"chatId\" : \"7491161550\",\n        \"text\": `${farm} : 🚨🚨🚨 ALERT! High Temperature: ${temperature}°C`,\n    };\n    return msg;  // Send message only if condition is met\n}\nreturn null;  // No message if temperature is below the threshold\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":520,"wires":[["b09e13d4a7a61921"]]},{"id":"b09e13d4a7a61921","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"payload.chatId","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"},{"t":"set","p":"payload.content","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":560,"wires":[["f4e3217c1fe32964","99e680b42bd37ef5"]]},{"id":"f4e3217c1fe32964","type":"debug","z":"f6f2187d.f17ca8","name":"Debug Alert Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":560,"wires":[]},{"id":"c7e5b11c03449b90","type":"function","z":"f6f2187d.f17ca8","name":"Soil Moisture","func":"let soil_moisture = msg.payload.soil_moisture;\nlet farm = msg.payload.farm;\n\nif (soil_moisture < 300) {  // Change threshold as needed\n    msg.payload = {\n        \"chatId\" : \"7491161550\",\n        \"text\": `${farm} : 🚨🚨🚨 ALERT! LOW Soil Moisture: ${soil_moisture} kO`,\n    };\n    return msg;  // Send message only if condition is met\n}\nreturn null;  // No message if temperature is below the threshold\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":580,"wires":[["b09e13d4a7a61921"]]},{"id":"4e34398d55ed72d5","type":"function","z":"f6f2187d.f17ca8","name":"Humidity","func":"let humidity = msg.payload.humidity;\nlet farm = msg.payload.farm;\n\nif (humidity > 80) {  // Change threshold as needed\n    msg.payload = {\n        \"chatId\" : \"7491161550\",\n        \"text\": `${farm} : 🚨🚨🚨 ALERT! High Humidity: ${humidity}% `,\n    };\n    return msg;  // Send message only if condition is met\n}\nreturn null;  // No message if temperature is below the threshold\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":660,"wires":[["b09e13d4a7a61921"]]},{"id":"bea9a9f50b6a87f4","type":"function","z":"f6f2187d.f17ca8","name":"Light Intensity","func":"let light_intensity = msg.payload.light_intensity;\nlet farm = msg.payload.farm;\n\nif (light_intensity > 1000) {  // Change threshold as needed\n    msg.payload = {\n        \"chatId\" : \"7491161550\",\n        \"text\": `${farm} : 🚨🚨🚨 ALERT! High Humidity: ${light_intensity} lux`,\n    };\n    return msg;  // Send message only if condition is met\n}\nreturn null;  // No message if temperature is below the threshold\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":760,"wires":[["b09e13d4a7a61921"]]}]